---
import BaseHead from './components/BaseHead.astro'
---

<!doctype html>
<html lang="zh-CN" class="transition-all">
  <head>
    <BaseHead />
    <slot name="extend-head" />
  </head>
  <body class="h-svh">
    <slot />
  </body>
</html>
